# ReSharper meta directory
_ReSharper*

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#userprefs
**/*.userprefs

# mstest test results
**/TestResults
test-results/
*.test-cache
